
  @import url('https://fonts.googleapis.com/css2?family=Reem+Kufi:wght@400;500;600;700&display=swap');
/* loading */
.spinner {
  position: relative;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-left: -75px;
  left: 50%;
  bottom: 80px
}

.spinner span {
  position: absolute;
  top: 50%;
  left: var(--left);
  width: 45px;
  height: 9px;
  background: #ffff;
  animation: dominos 1.5s ease infinite;
  box-shadow: 2px 2px 3px 0px black;
}

.spinner span:nth-child(1) {
  --left: 80px;
  animation-delay: 0.125s;
}

.spinner span:nth-child(2) {
  --left: 70px;
  animation-delay: 0.3s;
}

.spinner span:nth-child(3) {
  left: 60px;
  animation-delay: 0.425s;
}

.spinner span:nth-child(4) {
  animation-delay: 0.54s;
  left: 50px;
}

.spinner span:nth-child(5) {
  animation-delay: 0.665s;
  left: 40px;
}

.spinner span:nth-child(6) {
  animation-delay: 0.79s;
  left: 30px;
}

.spinner span:nth-child(7) {
  animation-delay: 0.915s;
  left: 20px;
}

.spinner span:nth-child(8) {
  left: 10px;
}

@keyframes dominos {
  50% {
    opacity: 0.7;
  }

  75% {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }

  80% {
    opacity: 1;
  }
}

/*button*/
a.button {
  width: 60%;
  height: 40px;
  background: whitesmoke;
  color: black;
  border-radius: 15px;
  justify-content: center;
  align-items: center;
  display: flex;
  font-size: 24px;
  transition: all .5s ease
  }
a.button:hover {
  background: gold;
  box-shadow: -5px -5px 15px 5px rgba(244, 243, 41, 0.8), 5px 5px 15px 7px gold;
  letter-spacing: 2px;
    font-size: 26px
}
  a.button:active {
  letter-spacing: 2px;
    font-size: 26px
}
/*---*/
.bakk {
  font-family: 'Reem Kufi', sans-serif;
  }
body {
  height: 604px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background: gray;
  font-family: 'Reem Kufi', sans-serif;
  }

.banner {
  height: 860px;
  background: goldenrod;
  border-radius: 15px;
  width: 604px;
  margin: 7px 14px
  }

.banner .itemS h1 {
  text-align: center;
  font-size: 55px;
  color: #00400D;
  bottom: 2.7rem
  }
main .items {
  flex-direction: column;
  margin-top: -3rem
  }
main a {
  text-decoration: none;
  margin: 1.5rem
  }
footer img {
  height: 130px;
  width: 70%;
  margin-top: 1.7rem
  }