a.button {
  width: 60%;
  height: 40px;
  background: whitesmoke;
  color: black;
  border-radius: 15px;
  justify-content: center;
  align-items: center;
  display: flex;
  font-size: 24px;
  transition: all .5s ease;
  text-decoration: none
  }
a.button:hover {
  background: gold;
  box-shadow: -5px -5px 15px 5px rgba(244, 243, 41, 0.8), 5px 5px 15px 7px gold;
  letter-spacing: 2px;
    font-size: 26px
}
  a.button:active {
  letter-spacing: 2px;
    font-size: 26px
}
.dots-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.the-line .div {
  width: 200px;
  height: 3px;
  background: white;
  border-radius: 20px;
  }
.the-line .div div {
  height: 3px;
  width: 70px;
  animation: line 1.5s linear 2s infinite running;
  border-radius: 20px;
  background: red
  }
.the-line .div div:hover {
  animation-play-state: paused;
  }
@keyframes line{
  to {
     transform:translateX(130px);
    }
  }

body {
  font-family: Reem Kufi;
  padding: 0;
  margin:0;
  box-sizing: border-box;
  background: gray;
  height: 604px;
  }

.banner {
  background: #1A94DA;
  border-radius: 15px;
  width: 504px;
  height: 706px;
  margin: 14px 7px
  }

.banner h1 {
  font-size: 45px;
  font-weight: 500; 
  color: black;
  text-align: center
  }

.items {
  flex-direction: column;
  margin-top: 3rem
  }
.items a {
  margin: 1rem; 
  color: #333
  }